{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="product-detail-page">

    <h2>Product_detail</h2>

    <h1>{{ product.name }}</h1>

    <p>{{ product.description }}</p>

    <p>Price: {{ product.price }}</p>

    {% if product.image %}
        <img src="{{ product.image.url }}" 
             alt="{{ product.name }}" 
             class="product-image">
    {% else %}
        <img src="{% static 'image/images.png' %}" 
             class="product-image">
    {% endif %}

</div>
<div class="comments-section">

<h2>Comments</h2>


{% for comment in product.comments.all %}

<div class="comment-box">

    <h4>
        {{ comment.user.name }}
    </h4>

    <p>
        {{ comment.text }}
    </p>

</div>


{% empty %}

<p class="no-comments">
    No comments yet.
</p>

{% endfor %}



<form class="comment-form" method="post" action="{% url 'add_comment' product.pk %}">

    {% csrf_token %}

    <textarea 
    name="text"
    placeholder="Write your comment"></textarea>


    <button type="submit">
        Send Comment
    </button>

</form>


</div>
{% endblock %}
